a{
    margin-top: 20px;
    padding: 20px;
    width: 100px;
    height: 200px;
    margin: 20px;
    background-color: black;
    color: white;
    border: 2px white dotted;

}

a:hover{
    background-color: white;
    color: black;
    transition: background-color 1s ease-in-out;
    border: 2px black dotted;
}

.box {
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 20px;
}



.box1 {
    background-color: lightblue;
    transition: background-color, transform 1s ease;
}

.box1:hover {
    background-color: lightcoral;
    transform: skew(20deg, 10deg);
} 



.box2 {
    background-color: lightgreen;
    transition: transform 1s ease;

}

.box2:hover {
    transform: rotate(45deg);
}



.box3 {
    background-color: rgb(246, 246, 156);
    transition: transform 1s ease;
}

.box3:hover {
    width: 200px;
    height: 200px;
    background-color: lightsalmon;
    transform: matrix(1, -0.3, 0, 1, 0, 0);

}



.box4 {
    background-color: lightcyan;
    transition: transform 2s ease;
}

.box4:hover {
    transform: translateX(200px);
}



.box5 {
    background-color: lightpink;
    transition: transform 1s ease;
}

.box5:hover {
    /*
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
*/
transform: rotateY(150deg);

    }



p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px;
    background-color: black;
    margin: 20px;
}